<footer>
    <div id="footer-banner">
        <div id="footer-container">
            <span>Copyright &copy; {{date format="YYYY"}}<a href="/"> {{@blog.title}}.</a></span>
            <span>Written under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Attribution-ShareAlike 4.0 International License</a>.</span>
            <span>
                <a href="http://julesaubel.com/">Frugal</a> theme by <a href="https://julesaubel.com/">Jules Aubel</a> 
                | Proudly published with <a href="http://ghost.org/">Ghost</a>.
            </span>
        </div>
    </div>
</footer>