{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


{{!-- RSS subscribe button --}}
<div class="container">
    <a id="rss-icon" href="{{@blog.url}}/rss/">
        <img src="./partials/icons/rss.svg" alt="rss-icon">
    </a>    
</div>


{{!-- The main content area --}}
<main class="content-container">

    <section>
        {{#foreach posts}}

            {{> "post_list"}}

        {{/foreach}}
    </section>

</main>
