* {
	padding: 0;
	margin: 0;
} 

html, body {
	font-size: 1rem;
	line-height: 1.65em;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
#header-banner {
  height: 100px;
  background: #35e693;
  background: linear-gradient(20deg,#b6fbff  0%,#83a4d4  100%); /* Customise it */
  background-size: cover;
}

#title {
  margin: 15px;
}

#title-alone {
  text-align: center;
  background-size: cover;
  height: 100px;
  width: 300px;
  position: relative;
  top: -34px;
  margin-bottom: -34px;
}

#site-logo { /* Customize this part according to the size of your logo */
  background-size: cover;
  background-color: black;
  height: 100px;
  width: 100px;
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  border: 2px solid white;
  border-radius: 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.50);
}

#site-description {
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 15px;
}
